extends ../common/layout.pug

block content
    div(id='app')
        hello-component(v-bind:message="message")
        input(v-model='message')
        br
        br
        div total num is {{total}}
        br
        buttoncounter(v-on:increment="incrementTotal") iscomming
        buttoncounter(v-on:increment="incrementTotal")
            h1(slot="redSlot") red
        br
        br
        currencyinput
        div(style="width:100%; height:10px; margin-bottom:5px; background-color:gray;")
        listcontrol
        br
        listselection
block footerScripts
    script(type="text/javascript" src=`/about.${version}.js`)