extends ../common/layout.pug

block footerScripts
    script(type="text/javascript" src=`${server.cdnUrl}about.${version}.js`)

block content
    div(class=`pageBody ${pageType}`)
        h1 this is about page.