@import '../../../common/client/style/main.scss';

.pageBody{
    margin: 0;
    padding: 0;
    background-color: yellow;
};

.topCarousel{
    padding: 0;
    margin: 0;
    &>div{
        padding: 0;
        margin: 0;
    }
};

