extends ../common/layout.pug

block header
  script(type='text/javascript').
      if (foo) bar(1 + 5)


block content
  - const userName = `Hello ${name}!`
  h1 #{userName}
  h2 I am #{age} years old.